/target
.idea
.DS_Store

games/MagicShootout/godot/.godot
games/MagicShootout/godot/rust/target

games/MagicShootout/rust/target/*
games/MagicShootout/godot/exports

games/MagicShootout/godot/addons/backstitch/
/godot_editor/
.backstitch_version
godot/.backstitch/
backstitch.cfg
rust/resources/score_board.csv

rust/target
/games/MagicDodgeball/assets/map/backups
